.react-select__custom{
    height: 40px;
    width: 90%;
    margin: 0 auto;

}

.react-select__control {
    height: 40px;

}

.react-select__value-container{
    height: 40px;
}

.react-select__indicators{
    color: #8b40ce;

}

.react-select__menu{

}

.react-select__menu-list{
    color: #7d29c8;

}

.react-select__option{
    background-color: #7d29c8;
}

