.form {
    background: rgba(84, 87, 193, 0.8);
    padding: 42px 27px 59px 27px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    color: #FFF;
    text-align: center;
}

.form input{
    padding: 10px;

    box-sizing: border-box

}



.form input[type="text"] {
    margin-bottom: 17px;
}



.form input::placeholder{
    padding-left: 10px;
}

.formTitle {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    margin-bottom: 23px;
}

.formText {
    margin-bottom: 45px;
    font-size: 24px;
    font-family: 'ProximaNova-Semibold';
    color: #FFF;
}

.sendButton {
    font-size: 24px;
    color: #2e2e2e;
    border: none;
    font-family: 'ProximaNova-Semibold';
    background: #FFF;
    letter-spacing: 0.5px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;

    transition: 0.3s;
    text-transform: uppercase;
    padding: 20px 90px;
    border-radius: 5px;
}

.sendButton:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #FFF;
    background: #f94673;
}


@media screen and (max-width: 1200px) {
    .formTitle {
        font-size: 20px;
    }

    .formText {
        font-size: 15px;
    }

    .sendButton{
        font-size: 20px;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 992px) {
    .sendButton {
        font-size: 20px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 768px) {
    .form input{

        padding: 5px;
    }
    .form {
        padding: 25px 10px 25px 10px;
    }

    .formTitle {
        font-size: 25px;
    }

    .formText {
        font-size: 18px;
    }

    .sendButton {
        font-size: 20px;
        padding: 20px 60px;
    }

}

@media screen and (max-width: 420px) {
    .sendButton{
        padding: 20px 80px;
    }
}
