@font-face {
    font-family: 'ProximaNovaT-Thin';
    src: url('../../../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
    url('../../../fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../../../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../../../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* The location pointed to by the popup tip. */
.popupTipAnchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 300px;
}
/* The bubble is anchored above the tip. */
.popupBubbleAnchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
}
/* Draw the tip. */
.popupBubbleAnchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* The popup bubble itself. */
.popupBubbleContent {

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    overflow-y: auto;

    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.ContentText{
    font-family: 'ProximaNova-Semibold';
    font-size: 15px;
    color: #8b40ce;
}
