@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../../../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../../../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.workDaysBlock {
    font-family: 'ProximaNova-Semibold';
    color: black;
    max-width: 250px;


}

.workDaysList {

    margin-bottom: 5px;
    list-style: none;
    padding: 0;
}

.workDaysListItem {

    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.workDays {

    font-size: 20px;
    padding-bottom: 10px;
}


